.header__inner{
    display: flex;
    margin: 0;
    padding: 22px 0;
}

.header__menu{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.header__list{
    display: flex;
    align-items: center;
    max-width: 100%;
}

.header__item{
    margin-left: 58px;

    &:nth-child(2){
        margin-left: 32px;
    }
    &:nth-child(3){
        margin-left: 32px;
    }
}
.header__item-getscood{
    margin: 0 auto;
    left: 0;
}
