.blokquote__box{
    
    margin-top: 100px;
    text-align: center;
    
}

.blokquote__text{
    position: relative;
    width: 753px;
    height: 78px;
    margin: 0 auto;
    font-family: 'FuturaPT';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    margin-top: 43px;
    margin-bottom: 43px;
    color: #949494;
    &::before{
        position: absolute;
        top: -21px;
        left: -70px;
        content: "";
        width: 142px;
        height: 128px;
        display: inline-block;
        background-repeat: no-repeat;
        background-image: url(../../../images/“left.svg);
    }

    &::after{
        position: absolute;
        top: 33px;
        left: 784px;
        content:"";
        width: 142px;
        height: 128px;
        right: 55px;
        display: inline-block;
        background-repeat: no-repeat;
        background-image: url(../../../images/“right.svg);
    }
}

.blokquote__span-up{
    display: block;
    width: 140px;
    height: 0px;
    margin: 0 auto;
    border: 1px solid #DBDBDB;
    background-color: #DBDBDB;
}
.blokquote__span-down{
    display: block;
    width: 140px;
    height: 1px;
    margin: 0 auto;
    border: 1px solid #DBDBDB;
    background-color: #DBDBDB;
}
.blokquote__owner{
    font-family: 'FuturaPT';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #333333;
    margin-top: 35px;
    margin-bottom: 191px;
}