#bigbox{
    /* display: flex; */
}
.time{
    list-style: none;
    display: flex;
}
.box{
    border: 2px solid black;
    border-radius: 5px;
    display: inline-block;
    background-color: white;
    width: 250px;
    height: 260px;
}

body{
    background-color: #C8C8C8;
}
