.box{
    width: 200px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border: 2px solid cyan;
    border-radius: 10px;
}
body{
    background-color: cyan;
}
.container{
    width: 1200px;

    margin: 0 auto;
}
.btn{
    display: block;
    margin: 10px;
    background-color: #F3F3F3;
    border: 2px solid #F3F3F3;
    border-radius: 5px;
    padding: 5px 0px;
    
}
.btn1{
    width: 167px;
    height: 40px;
    margin-left: 10px;
    color: white;
    background-color: cyan;
    border: 2px solid cyan;
    border-radius: 10px;
    cursor: pointer;
}
.btn2{
    width: 170px;
    height: 30px;
}